
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 99.9%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box{
  color: azure;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 400px;
  overflow-y: scroll;
  
}


.article{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article p{
  display: block;
  font-size: x-large;
  font-weight: 600;
  color: rgba(163, 167, 170, 0.733);;
}

.boxcontent{
  background-color: rgb(45, 46, 48);
}

.boxcontent img{
  width: 50%;
}
.boxcontent p{
  
  font-weight: 500;
  font-size: large;
  font-style: oblique;
  line-height: 1.5;
  word-spacing: 0.1em;
  text-align: justify;
  text-indent: 2em;
  padding-top:3em;
  padding-left: 5%;
  padding-right: 5%;

}



.box-content p{
  color: rgba(163, 167, 170, 0.733);
  font-size: xx-large;
  font-weight: 600;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.anim p{
  font-size: medium;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-controller {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form .btn{
  width: 100%;
  margin: 15px auto;
  height: 45px;
  border-radius: 5px;
  border-style: none;
  background-color: #5EBC67;
  color: white;
  font-size: medium;

}

.form .btn:hover{
  background-color: #5ebc67c7;
  cursor: pointer;
}

.form-options{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/* Login */

#login{
  text-align: center;
}

.login-logo{
  width: auto;
  margin: 10px auto;
  min-height: 100px;
}


.login-logo img{
  width: 40%;
  height: 100px;
  object-fit: scale-down;
}

.login-form{
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  padding: 50px 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.forgot-password{
  justify-content: start;
  margin-top: 5px;
  align-items: start;
}
@media screen {
  
}

.btn{
  display: block;
  font-size: larger;
  color: #ffffff;
  margin: 30px auto;
  height: 40px;
  width: 100%;
  background-color: #5EBC67;
  border: none;
  border-radius: 5px;
}
.btn:hover{
  background-color: #5ebc67c7;
  cursor: pointer;
}

/* Header */

#nav-bar{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: #adafae solid 1px;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
}
.nav-image{
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-image img{
  width: 200px;
  text-align: center;
}

.navicon{
  display: none;
}
.navoption{
  flex-grow: 1;
}
.navoption ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.navoption ul li {
  display: inline-block;

}
.navoption ul li a{
  text-decoration: none;
  color: rgb(73, 68, 68);
  padding: 0 13px;
  
  
}

.navoption ul li a:hover{
  color: #5EBC67;
  text-decoration:dashed;
  transition: all 0.3s ease;
}
.navoption ul li button{
  padding-left: 13px;
  font-size: large;
  background-color: transparent;
  border: none;
  color: rgb(73, 68, 68);
  
  
}

.navoption ul li button:hover{
  color:#5EBC67;
  transition : all 0.3s ease;
  cursor: pointer;
}


.nav-list{
  display: none;
}
.nav-list ul{
 
  text-align: center;
  list-style: none;
}
.nav-list ul li a{
  display: block;
  color: rgba(163, 167, 170, 0.733);
  font-size: larger;
  text-decoration: none;
  padding: 5px 0;
  border-radius: 5px;
}


@media screen and (max-width: 1024px){
    .navoption{
      display: none;
    }
    .navicon{
      display: block;
      flex-grow: 0.3;
    }
    .side{
      display: none;
    }
    .nav-list{
      display: block;
      position: fixed;
      top : 80px;
      width: 100%;
      height: 100vh;
      background-color: white;
      z-index: 200;
      transition : all 0.3s ease
      
    }
    .nav-list ul li{
      display: block;
      padding: 10px 0;
    }
    .nav-list ul li a:hover,
    .nav-list ul li a:active{
      background-color: #5EBC67;
      color: white;
    }
    

}


/* Main Page */

#sidebar{
  display: flex;
  gap:1rem;
  height: 85vh;

}
.side{
  height: 100%;
  border-right: rgb(65, 64, 64) solid 1px;
}

.side ul li{
  display: block;
  padding: 3px 10px;
}
.side ul .act button{
  background-color: #5ebc67de;
  color:white;
 }


.side ul li button{
  width: 300px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: larger;
  font-weight: 500;
  color: #8f9491;

}

.side ul li button:hover{
  background-color: #5EBC67;
  color: white;
  cursor:pointer;
  transition: all 0.5s ease-in;
 }



 /* Content */

 #bar-sider{
  overflow-y: scroll;
 }

.content{
  
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 20px 20px;
}

.content-div-img{
  min-width: 30%;
  width: 100%;
  /* height: 100%; */
}
.content-div-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.content-div{
  min-width : 50%;
  padding: 20px 20px

}

.content-div ul{
  list-style: none;

}
.content-div ul li{
  padding: 10px 0px;
}

.content-div ul li h2{
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.spt-det-btn{
  display: flex;
  justify-content: space-between;
}

.content-div ul li button{
  width: 170px;
  height: 35px;
  border-radius: 40px;
  border: none;
  color: #5EBC67;
  font-size: medium;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  background-color: #f8f8f8;
}

.content-div ul li button:hover{
  background-color: #5EBC67;
  color: white;
  top: -3px;
}


.content-div-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 16px;
  
}
.content-div-info ul li{
  padding-bottom: 0;
  align-items: center;
}

.content-div-info ul li span{
  display: inline-block;
  padding-left: 10px;
  text-align: center;
  font-weight: 500;
  
}
.content-div-info ul li:nth-child(1){
  
  font-size: medium;
}

.popup{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #5EBC67;
  right: 0;
  top : 0;
  display: none;
}

.limited-paragraph {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4; /* Adjust the number of lines as needed */
  text-overflow:clip;
  text-align: justify;
}

.icon{
  width: fit-content;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.createpost{
  position: fixed;
  z-index: 100;
  display: inline;
  right: 25px;
  bottom: 25px;
}

.file{
  color:#5ea9bc;
  padding: 15px 0px;
}

@media screen and (max-width : 800px){
  .content{
    flex-direction: column-reverse;
  }
}

/* Create Post */

/* Profile */

#profile{
  width: 100%;
  overflow-y: scroll;
  margin: 2% 8%;
}

.profile-btn{
  display: flex;
  justify-content: flex-end;
}

.profile-name{
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
  gap : 3rem;
  align-items: center;
  flex-wrap: wrap;
  font-size: x-large;
  color: #5e6cbc;
  font-weight: 500;
  margin-bottom: 5%;
}

.profile-name img{
  width: 100px;
  height: 100px;
  border-radius: 100%;

}

.profile-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}
.profile-info .p{
  font-size: larger;
  font-weight: 500;
  color: #43863b
}
.detail{
  margin-left: 10px;
  text-align: end;
}

.post-detail{
  padding:25px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 20px 20px;
  box-sizing: border-box;
}
.probS p{
  padding: 15px;
  line-height: 1.5;
  text-align: justify;
}

.probS img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 15px;
  border-radius: 5%;
  transition: filter 0.3s ease;
}

.probS img:hover{
  cursor: pointer;
  filter: blur(2px);
}

.probS h4{
  padding-left: 15px;
  padding-top: 30px;
}

@media screen and (max-width: 1240px){
  .probS img{
    width: 100%;
  }
}

.opinion{
  align-items: center;
  text-align: center;
  padding: 5px 15px;
  margin: 0 40px;

}

.send-opinion{
  display: flex;
  padding-bottom: 20px;
  padding: 15px;
}

.send-opinion button{
  margin-top: 14px;
  height: 70%;
  margin-left: 10px;
  width: 40px;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
}

.send-opinion button:hover{
  color: #43863b;
  cursor: pointer;
}

.createdAt{
  padding: 0;
  margin: 0;
  font-size: small;
}



